<div id="community">
      <h1>Our Community</h1>
      <p>We're not just another shopping website where you buy from professional sellers
        <span class="ck-gradient-text">- we are a vibrant community of students, book lovers across India</span> who deliver happiness to each other!
      </p>
      <div id="img_div">
          <img src="https://www.clankart.com/static-assets/footer_image.png" alt="">
      </div>
</div>

<div id="footer">
<div class="footer_one">
      <div class="links">
          <h5>ABOUT US</h5>
          <a href="#">About us</a>
          <a href="#">Contact us</a>
          <a href="#">Blog</a>
      </div>
      <div class="links">
        <h5>USEFUL LINKS</h5>
        <a href="#">How it works?</a>
        <a href="#">Boocker Teleport</a>
        <a href="#">Frequently Asked Questions (FAQs)</a>
        <a href="#">Terms Of Use / Listing Policy / Privacy Policy</a>
     </div>
     <div class="links">
          <h5>STAY CONNECTED</h5>
          <div class="icon">
            <i class="ri-facebook-circle-fill"></i>
            <i class="ri-instagram-line"></i>
            <i class="ri-youtube-fill"></i>
            <i class="ri-twitter-fill"></i>
            </div>
     </div>
</div>
<div class="fac">
      <div class="f">
        <i class="ri-bank-card-line"></i>
        <div class="t">
              <h5>Secure Payment</h5>
              <small>100% Secure Online <br> Transaction</small>
        </div>
      </div>
      <div class="f">
        <i class="ri-checkbox-circle-line"></i>
        <div class="t">
             <h5>Boocker Trust</h5>
             <small>Money stored safely & is transferred to <br> the seller only after buyer confirmation</small>
        </div>
    </div>
    
    <div class="f">
        <i class="ri-chat-1-line"></i>
        <div class="t">
              <h5>Customer Support</h5>
              <small>Friendly customer support</small>
        </div>
    </div>
</div>
<div class="end">
      <p>Clankart is a free platform where you can buy used books, or new books at very cheap prices. Well at Clankart, you can also sell used books online in India for actual cash. Buy second hand books like college books, school books, reading books, much more around you.</p>
</div>
</div>

