<div id="brands">
    <small>Or Select From Top Books Categories</small>
    <div id="brd">
         <div onclick="window.location.href='/catagory/College Books'" class="bn_card">
             <div class="imgb">
                  <img src="https://www.clankart.com/static-assets/books_classified/college-books.webp" alt="">
             </div>
             <div class="txtb">
                 <h6>College Books</h6>
             </div>
         </div>
         <div onclick="window.location.href='/catagory/Engineering Books'" class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/engineering-books.webp" alt="">
            </div>
            <div class="txtb">
                <h6>Engineering Books</h6>
            </div>
        </div>
        <div onclick="window.location.href='/catagory/Exam Preparation'" class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/exam-preparation-books.webp" alt="">
            </div>
            <div class="txtb">
                <h6>Exam Preparation</h6>
            </div>
        </div>
        <div onclick="window.location.href='/catagory/Gate Books'" class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/gate-books.webp" alt="">
            </div>
            <div class="txtb">
                <h6>Gate Books</h6>
            </div>
        </div>
        <div onclick="window.location.href='/catagory/Made Easy Books'" class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/made-easy-books.webp" alt="">
            </div>
            <div class="txtb">
                <h6>Made Easy Books</h6>
            </div>
        </div>
        <div onclick="window.location.href='/catagory/School Books'" class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/school-books.webp" alt="">
            </div>
            <div class="txtb">
                <h6>School Books (upto 12th)</h6>
            </div>
        </div>
        <div onclick="window.location.href='/catagory/UPSC Books'" class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/upsc-books.webp" alt="">
            </div>
            <div class="txtb">
                <h6>UPSC Books</h6>
            </div>
        </div>
        <div onclick="window.location.href='/catagory/Reading Books'" class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/novels.webp" alt="">
            </div>
            <div class="txtb">
                <h6>Reading Books</h6>
            </div>
        </div>
        <div onclick="window.location.href='/catagory/Mathemetics Books'" class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/rd-sharma.webp" alt="">
            </div>
            <div class="txtb">
                <h6>Mathemetics Books</h6>
            </div>
        </div>
        <div onclick="window.location.href='/catagory/CAT Books'" class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/cat-books.webp" alt="">
            </div>
            <div class="txtb">
                <h6>CAT Books</h6>
            </div>
        </div>
        <div onclick="window.location.href='/allbooks'"  class="bn_card">
            <div class="imgb">
                 <img src="https://www.clankart.com/static-assets/books_classified/all-books.webp" alt="">
            </div>
            <div class="txtb">
                <h6>View All Books</h6>
            </div>
        </div>
    </div>
</div>