<div class="search_page">
    <div id="snav">
         <h1>Boocker</h1>
         <div class="close">
           <i class="ri-close-line"></i>
         </div>
    </div>
    <div class="sform">
       <!-- <form id="searchform" method="post">
           <input id="search" type="text" size="30" placeholder="Search a query here?" />
       </form> -->
       <div class="search">
          <input type="text" name="" placeholder="Search for cars and bikes" id="se">
          <button type="button"><i class="ri-corner-down-right-line"></i></button>
       </div>
        <div class="line">
             <div class="l"></div>
        </div>
        
    <!-- <div id="searchResult">
    </div> -->

    </div>
    <div id="cent">
   </div>
    <div class="search">
       <i class="uil uil-search"></i>
       
   </div>


</div>