<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old | books</title>
    <link rel="stylesheet" href="../stylesheets/oldbooks.css">
</head>

<body>
    <% include ./partials/nav.ejs %>
        <div id="main">
            <div id="swiper">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://www.clankart.com/static-assets/books_classified/book-slider1.webp" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://www.clankart.com/static-assets/books_classified/book-slider2.webp" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://www.clankart.com/static-assets/books_classified/book-slider3.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div id="contant">
                <h4>Buy New Books, Second Hand Books in great condition at low prices in India</h4>
                <div id="msgdiv">
                    <svg viewBox="0 0 72 72" class="w-60px">
                        <path
                            d="M16.1,30.3l13.5-3.8s.7-.6,2.5.6l10.1,6.8-5.9,1.8a5.6,5.6,0,0,1-3.4-.4C30.6,34.5,16.1,30.3,16.1,30.3Z"
                            fill="#b1d7e2"></path>
                        <path
                            d="M21.3,49.1l4.1,1.4c-1.7-.3-4.1,3.6-5,5.1s-2.5,1.1-4.4.6a3.2,3.2,0,0,0-2.9.5c-2.4,2.4-4.4,2.1-4.4,2.1L4.8,57.1s3-.6,4.2-1.9,2.6-1.7,3.6-1.3,2.3.8,3.4.3,1.4-1.2,2.3-2.9a6,6,0,0,1,1.5-2A1.6,1.6,0,0,1,21.3,49.1ZM6.3,18.3a.9.9,0,1,0-.9-.9A.9.9,0,0,0,6.3,18.3ZM53.1,52.8A1.1,1.1,0,0,0,52,54a1.1,1.1,0,0,0,1.1,1.1A1.1,1.1,0,0,0,54.3,54,1.2,1.2,0,0,0,53.1,52.8Zm6.5-.3a3.9,3.9,0,1,0,0,7.7,3.9,3.9,0,1,0,0-7.7Z"
                            fill="#cdecf9"></path>
                        <path d="M15.2,30.4l19.5,5.9-.2,16.6L15.2,46.3ZM29,18.5l-2.1,4.8L44.8,35.6l1.7-5.2Z"
                            fill="#def2fd"></path>
                        <path
                            d="M15,46.4s15.6,5,17.5,5.8a6,6,0,0,0,3.3.5s16.6-6.2,17.5-6.4a1.2,1.2,0,0,0,.9-1.1l.8.8a.4.4,0,0,1-.1.8L35,55.1a.9.9,0,0,1-.7,0L14.2,47.4a.6.6,0,0,1-.4-.8l1-2M67.7,31l-13.1-.3h0l12.8.3-17.1-12L29,18.5,46.5,30.4h0l-.9,2.7-10.9,3-.2,16.8,19.7-7,.3-10.1,11.6.2ZM53,30.6h0Z"
                            fill="#eeedee" opacity="0.3"></path>
                        <path
                            d="M16.4,13.6l.2,2.1c0,.2.1.3.3.4l1.8,1a.6.6,0,0,1,0,1l-1.9.8c-.2.1-.3.2-.3.4l-.4,2.1a.5.5,0,0,1-.9.3l-1.5-1.6c-.1-.2-.2-.2-.4-.2l-2.1.3c-.4,0-.8-.4-.5-.8l1-1.9a.3.3,0,0,0,0-.4l-.9-2a.5.5,0,0,1,.6-.7l2.1.4c.2.1.3,0,.5-.1l1.5-1.4A.5.5,0,0,1,16.4,13.6Z"
                            fill="#ffd83b"></path>
                        <path
                            d="M68.2,31h-.1a.1.1,0,0,1-.1-.1h-.1L50.5,18.4h-.3l-21.7-.4a.6.6,0,0,0-.5.4l-1.6,4.9a.5.5,0,0,0,.2.6l3,2-14.7,4h-.2a.1.1,0,0,1-.1.1c0,.1-.1.1-.1.2h0V46.4a.9.9,0,0,0,.3.5l19.8,6.6h.3l19.7-7.2c.2,0,.3-.2.3-.4V36.2l11.2.2a.5.5,0,0,0,.5-.3l1.6-4.9h0ZM50,19.3,66,30.5l-19.4-.7L30.2,19Zm-22-.9h0Zm-.6,4.8,1.4-4,17,11.3-1.3,4.2Zm3.3,3.4,10.5,7.1-6.5,1.8L16.8,30.3Zm3.5,25.7L15.5,46.1V31l18.7,5.4Zm19.7-6.8L35.2,52.3V36.4l7-2,2.3,1.5c0,.1.1.1.2.1h.2l9,.2ZM65.8,35.4l-20.4-.3,1.4-4.3,20.2.8Z"
                            fill="#45506e"></path>
                        <path
                            d="M27.4,30a.5.5,0,0,1-.5.5h0a.5.5,0,0,1-.5-.4c-.2-5-7.4-10.7-7.4-10.8a.5.5,0,0,1-.1-.7.6.6,0,0,1,.7-.1C19.9,18.8,27.1,24.6,27.4,30ZM18,19.8a.5.5,0,0,0-.7.1c-.1.2-.1.6.2.7a8.1,8.1,0,0,1,1.7,1.7l.4.2h.3a.4.4,0,0,0,.1-.7A7.4,7.4,0,0,0,18,19.8Z"
                            fill="#fff"></path>
                    </svg>
                    <h4>Explore from over 1000s of used and new books on Clankart</h4>
                    <h6>View All Books</h6>
                </div>
                <div id="cnt">
                   
                    <div class="swiper1 mySwiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            
                           

                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="arrows">
                        <div id="s2n" class="swiper-button-next">
                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                    <path stroke="currentColor"
                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                        stroke-miterlimit="10"></path>
                                </svg></div>
                          
                        </div>
                        <div id="s2p" class="swiper-button-prev">
                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                <path stroke="currentColor"
                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                    stroke-miterlimit="10"></path>
                            </svg>
                        </div>
                    </div>

                </div>


                <div id="cnt">
                   
                    <div class="swiper1 mySwiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="simg">
                                    <div class="swiper2 mySwiper2">
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <img src="https://images.rabensjogren.se//43d05d33-bcfb-41be-bd83-aeec3479a7fc?auto=format&q=70&w=500" alt="">
                                          </div>
                                          <div class="swiper-slide">
                                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sapiente eos aut voluptatum, perspiciatis obcaecati quod provident aperiam voluptatibus officia laborum velit reiciendis, cum reprehenderit necessitatibus harum sunt corporis, dolor expedita earum labore saepe? Aliquam fugit repellat id, labore in numquam eius quas eum iste inventore blanditiis explicabo ut ipsum?</p>
                                          </div>
                                        </div>
                                        
                                        <div id="s3n" class="swiper-button-next">
                                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                    <path stroke="currentColor"
                                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                        stroke-miterlimit="10"></path>
                                                </svg></div>
                                          
                                        </div>
                                        <div id="s3p" class="swiper-button-prev">
                                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                                <path stroke="currentColor"
                                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                                    stroke-miterlimit="10"></path>
                                            </svg>
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="stxt">
                                    <h6>ALL IN ONE SOCIAL SCIENCE CLASS 10</h6>
                                    <small>₹ 159.00</small>
                                    <div class="bn">
                                        <p>Buy Now</p>

                                    </div>
                                </div>
                            </div>
                            
                           

                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="arrows">
                        <div id="s2n" class="swiper-button-next">
                            <div class="right css-wjewkb"><svg viewBox="0 0 16 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                    <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                    <path stroke="currentColor"
                                        d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                        stroke-miterlimit="10"></path>
                                </svg></div>
                          
                        </div>
                        <div id="s2p" class="swiper-button-prev">
                            <svg viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-lzxyyg">
                                <path stroke="currentColor" d="M16 6H1" stroke-miterlimit="10"></path>
                                <path stroke="currentColor"
                                    d="M6 1c-.899 2.19-2.71 4.097-5 4.957v.086c2.29.86 4.101 2.766 5 4.957"
                                    stroke-miterlimit="10"></path>
                            </svg>
                        </div>
                    </div>

                </div>


            </div>
            <% include ./partials/footer.ejs %>
        </div>
        <% include ./partials/loco.ejs %>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    loop: true,
                    autoplay: true,
                    grabCursor: true,
                    pagination: {
                        el: ".swiper-pagination",
                    },
                });
            </script>
            <script>
                var swiper1 = new Swiper(".mySwiper1", {
                    slidesPerView: 4,
                    spaceBetween: 20,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: "#s2n",
                        prevEl: "#s2p",
                    },
                });
            </script>
             <script>
                var swiper2 = new Swiper(".mySwiper2", {
                  pagination: {
                    el: ".swiper-pagination",
                    type: "fraction",
                  },
                  navigation: {
                    nextEl: "#s3n",
                    prevEl: "#s3p",
                  },
                });
            </script>
</body>

</html>